body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.z-top { 
  z-index: 99;
  position: absolute;
  display: block;
}

.square {
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;

}

.hidden {
    display: none;
}

#username {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 5px #00ffe1, 0 0 10px #00ffe1, 0 0 15px #00ffe1, 0 0 20px #00ffe1;
    font-family: 'Courier New', Courier, monospace;
    border: 0px 3px solid #fff;
    padding: 15px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    animation: glow 10s linear infinite;
    cursor: pointer;
}
    
    #username:hover {
        background-color: rgb(255, 255, 255, 0.2)
    }

#coming-soon-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border: 0px 3px solid #fff;
    padding: 10px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    animation: glow 10s linear infinite;
    background-color: rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
    min-width: 400px;
    max-width: 500px;
}

    #coming-soon-dialog h6 {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 18px;
        color: white;
    }

        #coming-soon-dialog h6 a {
            color: white;
            text-decoration: none;
        }

            #coming-soon-dialog h6 a:hover {
                color: #00ffe1; 
                text-decoration: underline; 
            }

#profile-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3em;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    border: 0px 3px solid #fff;
    padding: 10px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    animation: glow 10s linear infinite;
    background-color: rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
    min-width: 400px;
    max-width: 500px;
}

    #profile-card h6 {
        margin-top: 0px;
        padding-top: 0px;
        font-size: 18px;
        color: white;
    }

        #profile-card h6 a {
            color: white;
            text-decoration: none;
        }

            #profile-card h6 a:hover {
                color: #00ffe1;
                text-decoration: underline; 
            }

#launch-button-group {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* TODO: these buttons need an active/selected state */

.arrow {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    animation: glow 10s linear infinite;
    cursor: pointer;
    padding: 5px 17px;
    font-size: 2em;
    position: absolute;
    bottom: 6.9%
}
    .arrow:active {
        
    }

    .arrow:hover {
        background-color: rgba(255, 255, 0, 0.2);
    }

    #right-arrow {
        right: 38%;
    }

    #left-arrow {
        left: 38%;
    }


#vehicle-button, #avatar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    text-shadow: 0 0 5px #00ffe1, 0 0 10px #00ffe1, 0 0 15px #00ffe1, 0 0 20px #00ffe1;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #fff;
    padding: 10px 30px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    animation: glow 10s linear infinite;
    cursor: pointer;
}

    #vehicle-button:hover, #avatar-button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #vehicle-button:active, #avatar-button:active {
        background-color: rgba(255, 0, 0, 0.2);
    }

@keyframes glow {
  0% { box-shadow: 0 0 3px #ff0000, 0 0 5px #ff0000, 0 0 7px #ff0000, 0 0 10px #ff0000; }
  33% { box-shadow: 0 0 3px #00ff00, 0 0 5px #00ff00, 0 0 7px #00ff00, 0 0 10px #00ff00; }
  66% { box-shadow: 0 0 3px #0000ff, 0 0 5px #0000ff, 0 0 7px #0000ff, 0 0 10px #0000ff; }
  100% { box-shadow: 0 0 3px #ff0000, 0 0 5px #ff0000, 0 0 7px #ff0000, 0 0 10px #ff0000; }
}

.container {
  display: flex;
}

.box {
  width: 33.33%;
  height: 100vh;
  transition: transform 0.5s ease-out;
}

#left-button, #right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}
/* ========================================================================================================= */
/* Mobile phone section */
/* ========================================================================================================= */

/* TODO: Fix arrows on mobile */
@media (max-width: 800px) {
  #middle-box {
    display: none;
  }

  #right-arrow, #left-arrow {
      top: 70%;
  }

    #right-arrow {
        right: 50px !important;
    }

    #left-arrow {
        left: 50px !important;
    }
}