body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h2 {
  font-size: 100px;;
}

p {
  font-size: 30px;
}

main {
  position: absolute;
}

button {
  position: absolute;
  display: block;
  z-index: 99;
  right: 5%;
  top: 5%;
}

.z-top { 
  z-index: 99;
  position: absolute;
  display: block;
}

.left-detail-panel {
  height: 500px;
  width: 25%;
  color: #d9e7ff;
  background-color: #05051690;
  left: 3%;
  top: 3%;
  display: 'none';
}

.left-detail-panel h1 {
  margin: 25px 25px 10px 25px;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main-menu-container {
  width: 100%;
  height: .1vh;
  bottom: 12%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.menu-selected {
  /* background-color: #000000; */
  color: #00ffdd;
}

li {
  float: left;
  width: 50% !important;
  text-align: center;
  color: #FFFFFF;
  background-color: #05051690;
}

ul {
  width: 50%;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 80px;
  text-decoration: none;
  font-size: 40px;
  color: #371C1C;
  list-style-type: none;
}

li:hover {
  cursor: crosshair;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}