body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h2 {
  margin: 0px 10px 10px 25px;
}

p {
  font-size: 30px;
}

main {
  position: absolute;
}

button {
  position: absolute;
  display: block;
  z-index: 99;
  right: 5%;
  top: 5%;
}

.z-top { 
  z-index: 99;
  position: absolute;
  display: block;
}

#inventory-details-view {
  height: 24%;
  background-color: #a9fff410;
  margin: 0px;
  padding: 20px;
}

#inventory-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20%;
  overflow: hidden;
  overflow-y: scroll;
}

.inventory-item {
  height: 100px;
  border-color: #ffffff;
  border: 4px;
}

.item-card {
  height: 100%;
  width: 100%;
  /* background-color: #ff0000; */
}

.left-detail-panel h1 {
  margin: 25px 25px 10px 25px;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#item-1 {
  width: 1fr;
  height: 1fr;
}

.loading-screen {
  height: 100%;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  background-color: #000b22;
  opacity: 0;
}

#spotify-widget {
  border-radius:12px; 
  min-width: 250px; 
  right: 20px; 
  bottom: 20px; 
}

.main-menu-container {
  width: 100%;
  height: .1vh;
  bottom: 10%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main-menu-hint {
  color: #ffffff90;
  /* margin-left: 100px; */
}

.menu-selected {
  /* background-color: #000000; */
  color: #00ffdd;
  /* color: #00E605; */
}

li {
  float: left;
  width: 25% !important;
  text-align: center;
  color: #FFFFFF;
  background-color: #05051690;
}

ul {
  width: 50%;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 80px;
  text-decoration: none;
  font-size: 40px;
  color: #371C1C;
  list-style-type: none;
}

li:hover {
  cursor: crosshair;
}

@media only screen and (max-width: 600px) {
  ul {
    font-size: 30px;
  }
  
  #spotify-widget {
    min-width: 150px; 
  }
}

/*  Start of ANIME JS experiment */

.square {
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;

}

#username {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em; /* you may want to adjust the size based on your requirements */
  color: #fff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
  font-family: 'Courier New', Courier, monospace; /* Cyberpunk-style monospace font */
  border: 0px 3px solid #fff;
  padding: 10px;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  animation: glow 10s linear infinite;
} 

#established {
  top: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em; /* you may want to adjust the size based on your requirements */
  color: #fff;
  text-shadow: 0 0 5px #00ffe1, 0 0 10px #00ffe1, 0 0 15px #00ffe1, 0 0 20px #00ffe1;
  font-family: 'Courier New', Courier, monospace; /* Cyberpunk-style monospace font */
  border: 0px 1px solid #fff;
  padding: 10px;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  animation: glow 10s linear infinite;
}

@keyframes glow {
  0% { box-shadow: 0 0 3px #ff0000, 0 0 5px #ff0000, 0 0 7px #ff0000, 0 0 10px #ff0000; }
  33% { box-shadow: 0 0 3px #00ff00, 0 0 5px #00ff00, 0 0 7px #00ff00, 0 0 10px #00ff00; }
  66% { box-shadow: 0 0 3px #0000ff, 0 0 5px #0000ff, 0 0 7px #0000ff, 0 0 10px #0000ff; }
  100% { box-shadow: 0 0 3px #ff0000, 0 0 5px #ff0000, 0 0 7px #ff0000, 0 0 10px #ff0000; }
}

.container {
  display: flex;
}

.box {
  width: 33.33%;
  height: 100vh; /* take full viewport height */
  transition: transform 0.5s ease-out; /* Animation effect */
}

#left-box {
  /* styles for the left box... */
  background-color: rgba(255, 0, 0, 0.5);
}

#middle-box {
  /* styles for the middle box... */
  background-color: rgba(0, 255, 0, 0.5);
}

#right-box {
  /* styles for the right box... */
  background-color: rgba(0, 0, 255, 0.5);
}

#left-button, #right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the buttons */
  width: 100px;
}

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}

/* Mobile phone section */
@media (max-width: 800px) {
  #middle-box {
    display: none;
  }
}