@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #050505;
  color: white;
  overscroll-behavior: none;
}

body {
  font-family: theme('fontFamily.display');
  -webkit-font-smoothing: antialiased;
}
